*.swp
autom4te.cache
perl/MYMETA.yml
perl/autom4te.cache
perl/Makefile.old
perl/FCGI-*
perl/echo.fpl
perl/remote.fpl
perl/threaded.fpl
confdefs.h
config.cache
config.log
perl/aclocal.m4
perl/confdefs.h
perl/config.cache
perl/config.h.in
perl/fcgi_config.h.in
perl/FCGI.bs
perl/FCGI.c
perl/FCGI.cfg
perl/FCGI.o
perl/FCGI.pm
perl/FCGI.xs
perl/Makefile
perl/blib
perl/config.log
perl/config.status
perl/fcgi_config.h
perl/fcgiapp.o
perl/os_unix.o
perl/pm_to_blib
autom4te.cache/
configure
perl/autom4te.cache/
perl/configure
